/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.fullForm {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  background-color: rgb(239, 234, 234);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

h1 {
  font-size: 1.6em;
  color: #333;
  text-align: center;
}

.login-subtitle p {
  text-align: center;
  color: #555;
  margin-bottom: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

fieldset {
  border: none;
  padding: 0;
}

.email-group, .password-group {
  margin-bottom: 1.5em;
}

.label-information {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-weight:500;
}

.input-wrapper {
  display: flex;
  border: 1px solid #bdbdbd;
  border-radius: 1em;
  padding: 5px;
  background-color: white;
  justify-content: space-evenly;
}

.input-wrapper:focus {
  border-color: #2d08ff9c;
  outline: none;
}

input[type="text"], input[type="password"] {
  width: 80%;
  padding: 10px;
  font-size: 14px;
  border: none;
}

input:focus {
  outline: none; /* Supprime le contour par défaut */
  border: none;  /* Supprime la bordure */
}

.left-div, .rigth-div{
  display: flex;
  justify-content: center;
  flex-direction: column;
}



img {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

/* Button Styles */
button {
  width: 100%;
  background-color: #28a745;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:disabled {
  background-color: #ccc;
}

button:hover:not(:disabled) {
  background-color: #218838;
}

/* Stay logged-in section */
.stay-logged-section {
  margin-bottom: 20px;
  text-align: center;
}

.login-button-container {
  margin-top: 20px;
}

/* Lost password */
.lost-password-container {
  text-align: center;
  margin-top: 10px;
}

/* Form status */
.form-informations {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  color: #555;
}

.form-informations div {
  margin: 5px 0;
}

/* Success message */
.popup p {
  background-color: #218838;
  color: white;
  width: 100px;
  padding: 20px;
  border-radius: 1em;
}

.error-input{
  border: 1px solid red;
}
